<div class="container-fluid mt-5">
    <div class="container">
        <h2 class="text-center text-primary mb-4">AngieTodo App</h2>
        <div class="mb-4">
            <form
                (ngSubmit)="addTodo()"
                [formGroup]="addTodoForm"
                novalidate
            >
                <div class="row">
                    <div class="col-9">
                        <div class="form-group">
                            <input 
                                type="text"
                                class="form-control"
                                formControlName="label"
                                placeholder="Enter new todo item"
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select 
                                type="text"
                                class="form-control"
                                formControlName="priority"
                            >
                                <option value="" selected disabled hidden>Priority</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button 
                            class="btn btn-primary" 
                            type="submit" 
                            [disabled]="!addTodoForm.valid"
                        >
                        <span
                            *ngIf="busy.isAdding"
                            class="spinner-border spinner-border-sm text-white"
                            role="status"
                        ></span>
                        <span *ngIf="busy.isAdding" class="mx-2">Saving...</span>
                        <span *ngIf="!busy.isAdding"> Add Todo </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <h5 class="text-primary mb-2">Todo List</h5>
            <div
                class="d-flex align-items-center justify-content-center mt-5"
                *ngIf="todos?.length === 0"
            >
                No todo items added yet...
            </div>
            <div *ngIf="todos.length > 0">
                <table class="table table-hover">
                    <thead>
                        <th>Label</th>
                        <th class="text-center">Priority</th>
                        <th class="text-center">Done</th>
                        <th class="text-center">Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let todo of todos">
                            <td>{{todo.label}}</td>
                            <td class="text-center">{{todo.priority}}</td>
                            <td class="text-center">{{todo.done ?  '&#10003;' :'&#10005;'}}</td>
                            <td class="text-center">
                                <img 
                                    src="assets/images/check.svg" 
                                    alt="" 
                                    style="width: 8%" 
                                    (click)="completeTodo(todo.id)"
                                    title="Mark as Complete?"
                                />
                                &nbsp;&nbsp;&nbsp;
                                <img 
                                    src="assets/images/trash.svg" 
                                    alt="" 
                                    style="width: 8%" 
                                    (click)="deleteTodo(todo.id)"
                                    title="Delete Todo"
                                    />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
