<div class="container-fluid mt-5">
    <div class="container">
        <h2 class="text-center text-primary mb-4">AngieTodo App</h2>
        <div class="mb-4">
            <form
                (ngSubmit)="addTodo()"
                [formGroup]="addTodoForm"
                novalidate
            >
                <div class="row">
                    <div class="col-9">
                        <div class="form-group">
                            <input 
                                type="text"
                                class="form-control"
                                formControlName="label"
                                placeholder="Enter new todo item"
                                required
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select 
                                type="text"
                                class="form-control"
                                formControlName="priority"
                                required
                            >
                                <option value="" selected disabled hidden>Priority</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button 
                            class="btn btn-primary" 
                            type="submit" 
                            [disabled]="!addTodoForm.valid"
                        >Add Todo</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <h5 class="text-primary mb-2">Todo List</h5>
            <table class="table table-hover">
                <thead>
                    <th>Label</th>
                    <th>Priority</th>
                    <th>Done</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos">
                        <td>{{todo.label}}</td>
                        <td>{{todo.priority}}</td>
                        <td>{{todo.done ?  '&#10003;' :'&#10005;'}}</td>
                        <td>
                            <img src="assets/images/check.svg" alt="" style="width: 10%" (click)="completeTodo(todo.id)"/>
                            &nbsp;&nbsp;
                            <img src="assets/images/trash.svg" alt="" style="width: 10%" (click)="deleteTodo(todo.id)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
